{{#each months as |month|}}
    <table class="table table-bordered mb-4">
        <thead>
        <tr>
            <th colspan="6" class="text-center">
                {{moment-format (concat  month '-01-' year) 'MMMM'}} - {{year}}
            </th>
        </tr>
        <tr>
            <td>#</td>
            <td>Description</td>
        </tr>

        </thead>

        {{days-in-month month=month}}

    </table>
{{/each}}